/.SampleXMLFileAspectVariableAspectContext.java._trace
/.SampleXMLFileAspectVariableAspectProperties.java._trace
/.VariableAspect.java._trace
/.VariableAspectVariableAspectContext.java._trace
/.VariableAspectVariableAspectProperties.java._trace
/.ToyProgramAspect.java._trace
/.ToyProgramAspectToyProgramAspectContext.java._trace
/.ToyProgramAspectToyProgramAspectProperties.java._trace
/.StatementAspect.java._trace
/.StatementAspectStatementAspectContext.java._trace
/.StatementAspectStatementAspectProperties.java._trace
/.AdditionAspect.java._trace
/.AdditionAspectAdditionAspectContext.java._trace
/.AdditionAspectAdditionAspectProperties.java._trace
/.SoustractionAspect.java._trace
/.SoustractionAspectSoustractionAspectContext.java._trace
/.SoustractionAspectSoustractionAspectProperties.java._trace
/.AssignmentAspect.java._trace
/.AssignmentAspectAssignmentAspectContext.java._trace
/.AssignmentAspectAssignmentAspectProperties.java._trace
/.ToyLanguageAspect.xtendbin
/AdditionAspect.java
/AdditionAspectAdditionAspectContext.java
/AdditionAspectAdditionAspectProperties.java
/AssignmentAspect.java
/AssignmentAspectAssignmentAspectContext.java
/AssignmentAspectAssignmentAspectProperties.java
/SoustractionAspect.java
/SoustractionAspectSoustractionAspectContext.java
/SoustractionAspectSoustractionAspectProperties.java
/StatementAspect.java
/StatementAspectStatementAspectContext.java
/StatementAspectStatementAspectProperties.java
/ToyProgramAspect.java
/ToyProgramAspectToyProgramAspectContext.java
/ToyProgramAspectToyProgramAspectProperties.java
/VariableAspect.java
/VariableAspectVariableAspectContext.java
/VariableAspectVariableAspectProperties.java
