<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.unice.polytech.si5.toylanguage.concretesyntax.diagram.Activator"
               id="fr.unice.polytech.si5.toylanguage.concretesyntax.diagram"
	       name="diagram">
    </component>
  </extension>
</plugin>
